#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #c7b000aa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 1em #fff700d8);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes logo-spin-desc {
  from {
    transform: rotate(360deg);
  }
  to {
    transform: rotate(0deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
  a:nth-of-type(1) .logo {
    animation: logo-spin-desc infinite 20s linear;
  }

  a .logo{
    border-radius: 100%;
  }
}

.card p{
  opacity: 0;
  transition: 1s;
}
.card p:hover{
  opacity: 1;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
